<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealEyes - Deepfake Detection</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>RealEyes👀</h1>
        </div>
    </header>

    <main>
        <section class="hero">
            <h2>Detect AI-Generated Text with RealEyes</h2>
        </section>
        <section class="upload-section">
            <h2>Paste your text</h2>
            <form id="uploadForm" action="/text" method="post">
                <input type="text" id="file" name="text" placeholder="Enter your text" required class="text-input">
                <button type="submit" class="cta-button">Detect</button>
            </form>
            <% if(locals.prediction){ %>
              <% if(locals.prediction.result === "Real"){ %>
                <h1 style="color: green;font-size: 2rem;margin-top: 1rem;" id="restext">It is suspected the text to be <%= prediction.result %> with a chance of <%=prediction.confidence%>%</h1>
            <% }else{ %>
              <h1 style="color: red;font-size: 2rem;margin-top: 1rem;" id="restext">It is suspected the text to be <%= prediction.result %> with a chance of <%=prediction.confidence%>%</h1>
              <% } %>
              <% } %>
        </section>
    </main>