<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The RealEye</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <h1>The RealEye</h1>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h2>Multi Model Deepfake Detection System</h2>
                <h1>Ensuring Reliable Deepfake Safety</h1>
                <p>Our cutting-edge tools utilize AI to detect deepfake content across various media, ensuring the integrity and authenticity of your digital communications.</p>
                <a class="btn-discover">Discover More</a>
            </div>
            <div class="hero-image">
                <img src="images/Banner_pic_1.png" alt="Hero Image">
            </div>
        </div>
    </section>
    <h2 id="head">Our Services</h2>
    <section class="services-section">
        <div class="container">

            <div class="service-card">
                <h3>AI Text Detection</h3>
                <p>Our AI-powered text detection system identifies manipulated or fabricated text content, helping you to spot potential deepfakes with accuracy.</p>
                <a href="/text">Learn More ➔</a>
            </div>
            <div class="service-card highlight">
                <h3>Video & Image Deepfake Detection</h3>
                <p>Using advanced algorithms, we analyze video and image content to detect alterations and deepfakes, ensuring the authenticity of visual media.</p>
                <a href="/visualmedia">Learn More ➔</a>
            </div>
            <div class="service-card">
                <h3>Audio DeepFake Detection</h3>
                <p>Our audio analysis tools detect synthetic or altered audio content, providing a reliable method to identify fake audio and protect against misinformation.</p>
                <a href="/audio">Learn More ➔</a>
            </div>
        </div>
    </section>
    <script>
        document.querySelector('.btn-discover').addEventListener('click', function(event) {
          event.preventDefault();
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth'
          });
        });
    </script>

</body>
</html>
